django
djangorestframework
djangorestframework-simplejwt
django-redis
qrcode
reportlab
mysqlclient
mysql-connector-python
opencv-python-headless
hashlib
xhtml2pdf
django-cors-headers
opencv-python
xhtml2pdf